.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.bg-primary {
    background-color: #07892c !important;
}
footer {
    position: fixed;
    background: #067327;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-text {
    font-size: 16px;
    text-align: center;
    color: #fff5f5;
    margin-bottom: -5px;
}
.box-form{
    border: 2px solid green !important;
    border-radius: 4px;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 50px;
    
}